body {
  zoom: 1.5;
}
.md-white-theme {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.54);
}
.md-white-theme .md-button {
  color: rgba(0, 0, 0, 0.54);
}
.md-white-theme md-icon {
  color: rgba(0, 0, 0, 0.54);
}
.task-header {
  font-size: 0.6em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}
.task-image {
  width: 80px;
  height: 80px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.task-image-dialog {
  margin: auto;
  max-width: 40vw;
  max-height: 40vh;
}
.selected-task-item {
  background-color: rgba(108, 162, 255, 0.9);
}
.task-comment-input {
  width: 40vw;
  height: 40vh;
}
