<md-subheader layout-padding class="background-f5 overview-header md-no-sticky">Work Stations <span ng-if="workstation.currentStation"> of Station {{workstation.currentStation}}</span></md-subheader>
<div id="workstation" class="content-overview" layout="column" style="max-width: 1366px !important;">

    <md-grid-list ng-show="workstation.workstations.length" id="workStationsContainer" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-row-height-gt-md="6:5"
                  md-row-height="6:5" md-gutter="18px" md-gutter-gt-sm="18px">
        <md-grid-tile  ng-repeat="workstation_rec in workstation.workstations" md-colspan-sm="1" class="tile" id="{{ $index }}"
                      data-drop="true" data-jqyoui-options="{hoverClass: 'blue200-background'}"
                      jqyoui-droppable="{index: {{$index}}, multiple:true, stack: true, onOver: 'onOver', onDrop:'onDropWorkStation'}">
            <md-icon style="width: 64px; height: 64px;" md-svg-src="{{workstation.getImage()}}"></md-icon>
            <span class="tile-span">&nbsp;</span>
            <md-grid-tile-footer class="tile-footer">
                <div layout="row" layout-align="start center">
                    <h3 flex>{{workstation_rec.name + ' ('+workstation_rec.task_count+')'}}</h3>

                </div>
            </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile>
            <md-button style="margin: auto;" ng-show="'layout'==='layout'" id="addBtn" aria-label="Create" ng-click="workstation.addWorkStation()" class="md-fab md-primary add-button">
                <md-icon md-svg-src="/static/images/material-design-icons/content/svg/production/ic_add_24px.svg"></md-icon>
            </md-button>
        </md-grid-tile>
    </md-grid-list>
    <h1 style="color: rgba(0,0,0,0.67) !important;" ng-show="!workstation.workstations.length">No station selected</h1>
</div>

